{{$footer}}
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <button type="button" class="btn btn-default btn-default-padding btn-cancel-alignment" data-action="hide">
                {{{strcancel}}}
            </button>
        </div>
        <div class="col-lg-6 col-md-6">
            <button type="button" class="btn btn-default btn-approve" data-action="{{dataaction}}" id="btn-confirm-to-release">
                {{{strconfirm}}}
            </button>
        </div>
    </div>
{{/footer}}